<div class="row">
    <div class="col">
        <form [formGroup]="form" class="d-flex flex-column gap-2">
            <!-- Firstname -->
            <div class="form-group">
                <label for="firstname" class="col-form-label">Firstname</label>
                <input 
                    type="text" 
                    id="firstname" 
                    class="form-control" 
                    formControlName="firstname"
                >
            </div>
            <!-- Lastname -->
            <div class="form-group">
                <label for="lastname" class="col-form-label">Lastname</label>
                <input 
                    type="text" 
                    id="lastname" 
                    class="form-control" 
                    formControlName="lastname"
                >
            </div>
            <!-- email -->
            <div class="form-group">
                <label for="email" class="col-form-label">e-mail</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    formControlName="email"
                >
            </div>
            <!-- password -->
            <div class="form-group">
                <label for="password" class="col-form-label">Password</label>
                <input 
                    type="password" 
                    id="password" 
                    class="form-control" 
                    formControlName="password"
                >
            </div>
            <div class="form-group">
                <label for="repeatPassword" class="col-form-label">Repeat Password</label>
                <input 
                    type="password"
                    id="repeatPassword"
                    class="form-control"
                    formControlName="repeatPassword"
                >
            </div>
            <!-- Submit -->
            <div class="form-group">
                <button (click)="onSubmit()" class="btn btn-primary">Submit Form</button>
            </div>
        </form>
    </div>
    <div class="col">
        <p>Form Valid: {{ form.valid }}</p>
        <p>
            Firstname: {{ form.controls.firstname.value }} <br>
            Firstname Errors: {{ controlError("firstname") | json }}
        </p>
        <p>
            Lastname: {{ form.controls.lastname.value }} <br>
            Lastname Errors: {{ controlError("lastname") | json }}
        </p>
        <p>
            e-mail {{ form.controls.email.value }} <br>
            e-mail Errors: {{ controlError("email") | json }}
        </p>
        <p>
            Password: {{ form.controls.password.value }} <br>
            Password Errors: {{ controlError("password") | json }}
        </p>
        <p>
            Repeat Password: {{ form.controls.repeatPassword.value }} <br>
            Repeat Password Errors: {{ controlError("repeatPassword") | json }}
        </p>
    </div>
</div>